primecapital.uz, www.primecapital.uz {
  encode zstd gzip
  reverse_proxy website:3002
}

web.primecapital.uz {
  encode zstd gzip
  reverse_proxy webapp:3001
}

api.primecapital.uz {
  encode zstd gzip
  reverse_proxy backend:4000
}

ser.primecapital.uz {
  encode zstd gzip
  reverse_proxy frontend:3000
}
