aipixel.uz, www.aipixel.uz {
  encode zstd gzip
  reverse_proxy frontend:3000
}

web.aipixel.uz {
  encode zstd gzip
  reverse_proxy webapp:3001
}

api.aipixel.uz {
  encode zstd gzip
  reverse_proxy backend:4000
}
